{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-3">
    <h2>{% trans "All News Articles" %}</h2>
    <div class="d-flex justify-content-end mb-3">
        <form method="get" id="sortForm">
            <select name="sort" class="form-control" onchange="document.getElementById('sortForm').submit();">
                <option value="newest" {% if sort_order == 'newest' %}selected{% endif %}>{% trans "Newest" %}</option>
                <option value="oldest" {% if sort_order == 'oldest' %}selected{% endif %}>{% trans "Oldest" %}</option>
            </select>
        </form>
    </div>
    <div class="list-group">
        {% for article in news_articles %}
        <a href="{% url 'news:news_detail' article.pk %}" class="list-group-item list-group-item-action">
            <h4 class="mb-1">{{ article.title }}</h4>
            <p class="mb-1">{% trans "Posted by:" %} {{ article.company.name }}</p>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
