{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-4">
            {% if company.logo %}
            <img src="{{ company.logo.url }}" class="img-fluid mb-3" alt="{{ company.name }}">
            {% endif %}
            <h2>{{ company.name }}</h2>
            <p>{{ company.description }}</p>
            <p><strong>{% trans "Industry:" %}</strong> {{ company.industry }}</p>
            <p><strong>{% trans "Location:" %}</strong> {{ company.location }}</p>
            <p><strong>{% trans "Employees:" %}</strong> {{ company.employees_num }}</p>
            <p><strong>{% trans "Website:" %}</strong> <a href="{{ company.website }}" target="_blank">{{ company.website }}</a></p>
            <p><strong>{% trans "Contact Email:" %}</strong> <a href="mailto:{{ company.contact_email }}">{{ company.contact_email }}</a></p>
            <p><strong>{% trans "Established Year:" %}</strong> {{ company.established_year }}</p>
        </div>
        <div class="col-md-8">
            <h2>{% trans "Available Job Listings" %}</h2>
            <div class="list-group mt-3">
                {% for job in job_listings %}
                <a href="{% url 'listings:detail' pk=job.pk %}" class="list-group-item list-group-item-action mt-3">
                    <h4 class="list-group-item-heading">{{ job.title }}</h4>
                    <p class="list-group-item-text">{{ job.description|truncatewords:20 }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
