{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item pt-3">
                        {% if company %}
                        <a class="nav-link" aria-current="page" href="{% url 'companies:company-detail' pk=company.pk %}">
                            <i class="fas fa-building mr-2"></i>
                            <span class="ms-2 d-none d-sm-inline">{% trans "Company Detail" %}</span>
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item mt-3">
                        {% if company %}
                        <a class="nav-link" href="{% url 'companies:manage-job-listings' pk=company.pk %}">
                            <i class="fas fa-briefcase mr-2"></i>
                            <span class="ms-2 d-none d-sm-inline">{% trans "Job Listings" %}</span>
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item mt-3">
                        {% if company %}
                        <a class="nav-link" href="{% url 'news:company_news_list' %}">
                            <i class="fas fa-newspaper mr-2"></i>
                            <span class="ms-2 d-none d-sm-inline">{% trans "News Articles" %}</span>
                        </a>
                        {% endif %}
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <div class="content-container" style="max-width: 800px; width: 100%; margin: 0 auto;">
                {% block user_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
