{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Fixed sidebar -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-fixed">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        {% if company %}
                        <a class="nav-link active" aria-current="page" href="{% url 'companies:company-detail' pk=company.pk %}">
                            {% trans "Company Detail" %}
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if company %}
                        <a class="nav-link active" aria-current="page" href="{% url 'companies:manage-job-listings' pk=company.pk %}">
                            {% trans "Job Listings" %}
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if company %}
                        <a class="nav-link active" aria-current="page" href="{% url 'news:company_news_list' %}">
                            {% trans "News Articles" %}
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content area -->
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            {% block user_content %}
            {% endblock %}
        </main>
    </div>
</div>
{% endblock %}
