{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load i18n %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Site Name{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/uni_logo.png' %}" alt="{% trans 'Logo' %}" class="navbar-logo">
        </a>
        <a class="navbar-brand" href="{% url 'index' %}">{% trans "Home" %}</a>
        <a class="navbar-brand" href="{% url 'listings:list' %}">{% trans "Job Listings" %}</a>
        <a class="navbar-brand" href="{% url 'trends:job-trends' %}">{% trans "Trends" %}</a>
        <a class="navbar-brand" href="{% url 'news:news_list' %}">{% trans "News" %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto"> <!-- ml-auto will push the nav to the right -->
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        {% if user.is_company %}
                            <a class="nav-link" href="{% url 'companies:company-detail' pk=user.pk %}">{% trans "Company Account" %}</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'users:user-detail' pk=user.pk %}">{% trans "Personal Account" %}</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">{% trans "Logout" %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'users:login' %}" role="button">{% trans "Login" %}</a>
                    </li>
                {% endif %}
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    {% if language.code != LANGUAGE_CODE %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'switch_language' language.code %}?next={{ request.path }}">
                                {% if language.code == 'en' %}EN{% elif language.code == 'bg' %}BG{% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>

    <div class="main-content-wrapper mb-3 mt-2">
        {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
