<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Site Name{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Home</a>
        <a class="navbar-brand" href="{% url 'listings:list' %}">Job Listings</a>
        <a class="navbar-brand" href="{% url 'trends:job-trends' %}">Trends</a>
        <a class="navbar-brand" href="{% url 'news:news_list' %}">News</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto"> <!-- ml-auto will push the nav to the right -->
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        {% if user.is_company %}
                            <a class="nav-link" href="{% url 'companies:company-detail' pk=user.pk %}">Company Account</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'users:user-detail' pk=user.pk %}">Personal Account</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'users:login' %}" role="button">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
